@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
    margin: 0;
}

.App {
    background-color: #0980ad2b;
    padding: 10px;
    min-height: 100vh;
    font-family: 'Assistant', sans-serif;
}

.docs {
    max-width: 500px;
    background-color: white;
    margin: auto;
    border: 1px solid #0000002e;
    padding: 20px 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(67 71 85 / 27%) 0px 0px 0.25em, rgb(90 125 188 / 5%) 0px 0
}

.docs__head {
    margin-top: 0;
}

.addfile__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.docs__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
}

.doc {
    max-height: 60px;
    overflow: hidden;
}